@use "globals" as *;

main {
    position: relative;

    .subtitles {
        p:nth-child(1) {
            text-align: center;
            padding-top: 4rem;
            font-family: $font-family-titulos;
            color: $colors-mode-colors-2-secondary-color-1;
            font-size: $size-titulos;
        }

        p:nth-child(2) {
            text-align: center;
            padding-top: 1.5rem;
            font-family: $font-family-parrafo;
            font-size: $size-parrafo;
        }

    }

    figure {

        .figura {
            position: absolute;
            left: 40.5%;
            top: 415px;
            width: 900px;
            height: 1000px;
            z-index: -1;

            @include respond-to("medium") {
                width: 600px;
                height: 800px;
            }

            @include respond-to("small") {
                width: 600px;
                height: 750px;
                left: 11%;
                top: 885px;
            }

        }
    }


    article {
        width: 100%;
        display: grid;
        grid-template-columns: $grid-column-large;
        gap: 20px;
        align-items: center;
        font-family: $font-family-parrafo;
        font-size: $size-parrafo;

        @include respond-to("medium") {
            grid-template-columns: $grid-column-medium;
        }

        @include respond-to("small") {
            grid-template-columns: $grid-column-small;
        }

        .img1 {
            border: 3rem solid $colors-mode-colors-2-secondary-color-1;
            margin-top: 4rem;
            grid-column: 1/6;
            width: 560px;

            @include respond-to("medium") {
                width: 355px;
                grid-column: 2/5;
            }

            @include respond-to("medium-l") {
                width: 355px;
                grid-column: 2/4;
            }

            @include respond-to("small") {
                width: 422px;
                grid-row: 1;
                grid-column: 2/6;
            }

        }


        .text-1 {
            grid-column: 7/11;

            @include respond-to("medium") {
                grid-column: 6/10;
            }

            @include respond-to("medium-l") {
                grid-column: 5/9;
                margin-top: 55px;
            }

            @include respond-to("small") {
                grid-row: 2;
                grid-column: 2/6;
                margin-top: 100px;
            }
        }

        .text-2 {
            grid-column: 1/6;
            margin-top: 180px;
            margin-bottom: 160px;

            @include respond-to("medium") {
                grid-column: 2/6;
            }

            @include respond-to("medium-l") {
                margin-top: 380px;
            }

            @include respond-to("small") {
                grid-row: 3;
                grid-column: 2/6;
                margin-top: 630px;
                margin-bottom: 80px;
            }
        }

        .text-3 {
            grid-row: 3;
            grid-column: 1/6;
            margin-bottom: 200px;
            margin-top: 200px;

            @include respond-to("medium") {
                grid-column: 2/6;
            }
            @include respond-to("medium-l") {
                grid-column: 2/4;
            }
            @include respond-to("small") {
                grid-row: 5;
                grid-column: 2/6;
                margin-top: 80px;
                margin-bottom: 80px;
            }
        }

        .img2 {
            border: 3rem solid $colors-mode-colors-2-secondary-color-2;
            margin-bottom: 40px;
            grid-row: 3;
            grid-column: 6/11;
            width: 560px;

            @include respond-to("medium") {
                width: 355px;
                grid-column: 7/10;
            }

            @include respond-to("medium-l") {
                width: 355px;
                grid-column: 5/9;
            }
            
            @include respond-to("small") {
                width: 422px;
                grid-row: 4;
                grid-column: 2/6;
                margin-bottom: 0px;
            }
        }
    }
}