@use "globals" as *;

header {
    background-color: $colors-mode-colors-2-secondary-color-2;
    width: 100%;
.menu-item1{
    ul{
        @include respond-to("small") {
            padding: 0px;
            margin: 0px;
        } 
    }
}
    .menu-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-family-menu;
        font-size: $size-menu;
        height: 160px;

        .menu-item2 {
            ul{
                @include respond-to("small") {
                padding: 20px;
                margin: 0px;
            }
        }

            a:nth-child(3) {
                padding: 0;
            }

            a {
                padding-right: 60px;
                text-decoration: none;
                text-shadow: -1px -1px 0 $colors-mode-colors-1-primary-color-2,
                    1px -1px 0 $colors-mode-colors-1-primary-color-2;
                color: $colors-mode-colors-2-secondary-color-1;

                @include respond-to("small") {
                    padding-right: 20px;
                }
            }

        }

        .hamburger {
            display: none;

            @include respond-to("small") {
                display: block;
                cursor: pointer;
            }
        }

        .menu-item3 {
            display: flex;
            gap: 20px;

            @include respond-to("small") {
                display: none; /* Oculto en pantallas pequeñas */
                flex-direction: column;
                gap: 10px;
            }

            &.active {
                @include respond-to("small") {
                    display: flex; /* Mostrar cuando el menú esté activo */
                }
            }

        

            button {
                background-color: $colors-mode-colors-1-primary-color-2;
                border-radius: $border-buttons;
                border: none;
                padding: 10px;

                &:hover {
                    background-color: $colors-mode-colors-1-primary-color-1;
                }

                a {
                    text-decoration: none;
                    color: $colors-mode-colors-2-secondary-color-1;
                    font-family: $font-family-menu;
                    font-size: $size-menu;

                    &:hover {
                        color: $colors-mode-colors-2-secondary-color-2;
                    }
                }


            }

        }
    }

}