@use "globals" as *;

header {
    background-color: $colors-mode-colors-2-secondary-color-2;
    width: 100%;

    .menu-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $font-family-menu;
        font-size: $size-menu;
        height: 160px;

        .menu-item2 {
            a:nth-child(3) {
                padding: 0;
            }

            a {
                padding-right: 60px;
                text-decoration: none;
                text-shadow: -1px -1px 0 $colors-mode-colors-1-primary-color-2,
                    1px -1px 0 $colors-mode-colors-1-primary-color-2;
                color: $colors-mode-colors-2-secondary-color-1;

                @include respond-to("small") {
                    padding-right: 20px;
                }
            }
        }

        .icono-lineas {
            display: none;

            @include respond-to("small") {
                display: block;
                cursor: pointer; // Con esto sale la manita del ratón para que parezca un enlace
            }

            &:hover {
                .menu-item3 {
                    display: flex;
                    flex-direction: column;
                }
            }
        }



        .menu-item3 {
            @include respond-to("small") {
                display: none;
            }

            button:nth-child(1) {
                margin-right: 50px;

                @include respond-to("small") {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }

            button {
                background-color: $colors-mode-colors-1-primary-color-2;
                border-radius: $border-buttons;
                border: none;
                padding: 10px;

                &:hover {
                    background-color: $colors-mode-colors-1-primary-color-1;
                }

                a {
                    text-decoration: none;
                    color: $colors-mode-colors-2-secondary-color-1;
                    font-family: $font-family-menu;
                    font-size: $size-menu;

                    &:hover {
                        color: $colors-mode-colors-2-secondary-color-2;
                    }
                }


            }

        }
    }

}