
/* colores modo Dark */
$colors-mode-colors-1-primary-color-1: rgb(255 165 59);
$colors-mode-colors-1-primary-color-2: rgb(234 31 124);
$colors-mode-colors-2-secondary-color-1: rgb(255 255 255);
$colors-mode-colors-2-secondary-color-2: rgb(0 0 0);

/* colores generales */
$disabled-disabled: rgb(198 198 198);
$primary-primary-01: rgb(234 31 124);
$primary-primary-02: rgb(255 165 59);
$secondary-secondary-01: rgb(47 47 47);
$secondary-secondary-02: rgb(255 255 255);
$secondary-secondary-03: rgb(217 217 217);
$support-support-01: rgb(141 204 82);
$support-support-02: rgb(249 234 71);
$support-support-03: rgb(244 73 48);
$support-support-04: rgb(0 207 253);

/* number */
$shadow-01: 2px;
$shadow-02: 4px;
$shadow-03: 8px;
$shadow-04: 14px;

/* number */
$size-parrafo: 16px;
$size-menu: 20px;
$size-titulos: 36px;
/* string */
$font-family-menu: Wittgenstein;
$font-family-parrafo: Lucida Sans Unicode;
$font-family-titulos: 'Grandstander';
/* number */
$grid-column-large: repeat(10, 1fr);
$grid-column-medium: repeat(10, 1fr);
$grid-column-small: repeat(6, 1fr);
/* border */
$border-buttons:20px;

